/* modifica colores de la barra de navegación */
#contenedor-barranav {
    background: linear-gradient(to bottom, #b12424, #d22d2d, #e64d4d, #f17878);
    border: solid 3px #e64d4d;
}

/* modifica imagen de background */
#contenedor-main {
    background: url(/imagenes/fondo_calendario.jpg) no-repeat center center/ cover;
}

    /* Seccion de fecha actual */
.Fecha {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #0e285d;
    animation: rotate-vertical-right 0.4s
}

.Fecha p {
    margin: 0 10px 0 10px;
    font-size: 4.5vw;
    align-items: center;
}

    /* Botones */
.boton-anterior {
    padding: 1vw;
}

.boton-siguiente {
    padding: 1vw;

}