/* modifica colores de la barra de navegación */
#contenedor-barranav {
    background: linear-gradient(to bottom, #73dc3f, #4fb71f, #3d9a16, #307615);
    border: solid 3px #3d9a16;
}

/* modifica imagen de background */
#contenedor-main {
    background: url(/imagenes/fondo_finanzas.jpg)no-repeat center center/ cover;
}

/* Contenedor para ingresos, gastos y suscripciones */
#Contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 90%;
}

    /* Seccion de ingresos disponibles */
.disponibilidad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0 0 20px 0;
}

.disponibilidad div {
    border: 2px solid #97ea6c;
    border-radius: 10%;
    background-color: #dff9ce;
}

.disponibilidad div.efectivo {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 180px;
    margin: 10px;
    padding: 0;
}

.disponibilidad div.banco {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 150px;
    margin: 10px;
    padding: 0;
}

.disponibilidad div.total {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 150px;
    margin: 10px;
    padding: 0;
}

.disponibilidad div.disponible {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 200px;
    margin: 10px;
    padding: 0;
}

    /* Seccion de Ingresos */
.Lista-Ingresos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83.5vh;
    width: 49.8%;
    min-width: 785px;
    margin: 1.7px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px dashed black;
}

.Lista-Ingresos h1 {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}

#Contenedor-Ingresos{
    overflow: auto;
    width: 95%;
}

.Ingreso {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    padding: 5px;
}

.Ingreso input.descripcion {
    width: 40%;
    margin-right: 3px;
}

.Ingreso select.categoria {
    width: 20%;
    margin-right: 3px;
}

.Ingreso input.cantidad {
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.Ingreso input.fecha {
    width: 20%;
    margin-right: 3px;
}

.Ingreso p{
    text-align: center;
    height: 40px;
    font-size: 20px;
    margin: 0;
    padding: 3px;
}

.Ingreso p.descripcion {
    width: 325px;
    min-width: 250px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Ingreso p.categoria {
    min-width: 100px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Ingreso p.cantidad {
    min-width: 100px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Ingreso p.fecha {
    min-width: 120px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Ingreso h1 {
    text-align: center;
    height: 40px;
    min-width: 50px;
    padding: 3px;
    margin: 0;
    font-size: 25px;
    margin-right: 2px;
    border: 1px solid black;
    background-color: white;
}

.Ingreso div.más-menos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    min-width: 20px;
    font-size: 11.7px;
}

    /* Seccion de Gastos */
.Lista-Gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83.5vh;
    width: 49.8%;
    min-width: 785px;
    margin: 1.7px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid black;
}

.Lista-Gastos h1{
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}

#Contenedor-Gastos {
    overflow: auto;
    width: 95%;
}

.Gasto {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 4px;
    padding: 5px;
}

.Gasto input.descripcion {
    width: 35%;
    margin-right: 3px;
}

.Gasto select.categoria {
    width: 20%;
    margin-right: 3px;
}

.Gasto input.cantidad {
    text-align: center;
    width: 15%;
    margin-right: 3px;;
}

.Gasto input.fecha {
    width: 20%;
}

.Gasto p {
    text-align: center;
    height: 40px;
    font-size: 20px;
    margin: 0;
    padding: 3px;
}

.Gasto p.descripcion {
    width: 350px;
    min-width: 250px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Gasto p.categoria {
    min-width: 125px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Gasto p.cantidad {
    min-width: 125px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

.Gasto p.fecha {
    min-width: 125px;
    margin-right: 3px;
    border: 1px solid black;
    background-color: white;
}

    /* Seccion de Suscripciones */
.Suscripciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83.5vh;
    width: 49.8%;
    min-width: 785px;
    margin: 1.7px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid black;
}

.Suscripciones h1{
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}

#Contenedor-Suscripciones {
    overflow: auto;
    width: 95%;
}

.Suscripcion {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 4px;
    padding: 5px;
}

.Suscripcion input.descripcion {
    width: 40%;
    margin-right: 3px;
}

.Suscripcion select.categoria {
    width: 20%;
    margin-right: 3px;
}

.Suscripcion input.cantidad {
    text-align: center;
    width: 15%;
    margin-right: 3px;
}

.Suscripcion input.periodo {
    text-align: center;
    width: 15%;
}

.Suscripcion h1 {
    text-align: center;
    height: 100%;
    width: 10%;
    padding: 5px;
    margin: 0;
    font-size: 25px;
}

.Suscripcion div.más-menos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 11px;
}

    /* Seccion de Gastos Acumulados */
.Gastos-Acumulados {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 83.5vh;
    width: 49.8%;
    min-width: 785px;
    margin: 1.7px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid black;
}

.Gastos-Acumulados h1 {
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}

.referencia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-top: 3px;
    border: 1px solid black;
}

.referencia p {
    text-align: center;
    width: 33.33%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.5);
}

#Contenedor-GastoAC {
    overflow: auto;
    width: 90%;
    margin: 10px;
}

.GastoAC{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    margin: 4px 0 4px 0;
}

.GastoAC h1 {
    text-align: center;
    width: 33.33%;
    padding: 0;
    font-size: 25px;
}

    /* Seccion de Extra */
.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 90%;
    padding: 25px;
    margin: 20px 0 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid black;
}

    /* Botones */
.add {
    min-height: 30px;
    width: 40px;
    margin: 10px;
    border-radius: 25%;
    color: black;
    border: black;
    transform: scale(1.4);
}

.btn-outline-success {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    border: black;
}

.less {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    border: black;
}

.modify {
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    color: black;
    border: black;
}

    /* ocultar información */
.oculto {
    display: none;
}

.no-click{
    pointer-events: none;
}